/* ========== Global Styles ========== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background:#111;
    animation: gradient 17s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    color: white;
    overflow-x: hidden;
    min-height: 100vh; 
}

/* ========== Footer ========== */
footer {
    text-align: center;
    font-size: 0.75rem;
    opacity: 0.6;
    padding-bottom: 3rem;
}