/* ========== Global Styles ========== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background: linear-gradient(
        315deg,
        /* rgb(145, 93, 141) 3%,
        rgb(92, 126, 160) 38%,
        rgb(65, 117, 114) 68%,
        rgb(148, 51, 51) 98% */
        rgb(95, 41, 91) 3%,
        rgb(43, 80, 117) 38%,
        rgb(40, 99, 96) 68%,
        rgb(97, 33, 33) 98%
    );
    animation: gradient 17s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    color: white;
    overflow-x: hidden;
    min-height: 100vh;
    
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

/* ========== Header ========== */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    mix-blend-mode: difference;
}

/* ========== Footer ========== */
footer {
    text-align: center;
    font-size: 0.75rem;
    opacity: 0.6;
    padding-bottom: 3rem;
}